<style>
  .resume-output {
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    border-radius: 0px;
  }
  .resume-content {
    margin:100px 70px 100px 70px;

  }

</style>

<!-- Page Banner Area
============================================ -->
<div class="page-banner-area section overlay">
    <div class="container">
        <div class="row">
            <!--Page Banner-->
            <div class="page-banner text-center col-xs-12">
                <h2>json parser</h2>
                <!--Breadcrumb-->
                <ul class="breadcrumb">
                    <li><a href="index.html">home</a></li>
                    <li>projects</li>
                    <li>json parser</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Parser Area
============================================ -->
<div id="pages" class="pages-area section bg-light pb-60 pt-100">
    <div class="container">

      <h3>Insert JSON data</h3>
      <!--Comment Form-->
      <div class="comment-form row">
          <%= simple_form_for :json_content, url: parse_json_projects_path, remote: true do |f| %>
            <div class="col-xs-12 mb-20">
              <%= f.input :content, as: :text, label: false, input_html: { value: @default_json, style: "height:1000px;"} %>
              <div class="response-error-message" style="display: none;"></div>
            </div>
            <div class="col-xs-12">
              <%= f.button :submit, "Parse" %>
            </div>
          <% end %>

      </div>
      <br />
      <h3 class="resume-output-header" style="display:none;">Generated Resume/CV</h3>
      <div class="resume-output" style="display:none;">
        <div class="row resume-content">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-9">
                <h1 class="resume-name"></h1>
                <h3 class="resume-target-role"></h3>
              </div>
              <div class="col-md-3">
                Email: <span class="resume-email"></span>
                Phone: <span class="resume-phone"></span>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="row resume-content">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <h3>Profile</h3>
              </div>
              <div class="col-md-9">
                <p class="resume-profile-description"></p>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="row resume-content">
          <div class="col-md-12">
            <div class="row resume-skill-set">
              <div class="col-md-3">
                <h3>Skills</h3>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="row resume-content">
          <div class="col-md-12">
            <div class="row resume-technical-set">
            </div>
            <hr />
          </div>
        </div>
        <div class="row resume-content">
          <div class="col-md-12 resume-experience-set">
          </div>
        </div>
        <div class="row resume-content">
          <div class="col-md-12 resume-education-set">
          </div>
        </div>
        <div class="row resume-content">
          <div class="col-md-12 resume-footer">

          </div>
        </div>
      </div>
      <br />
    </div
</div>
