<style>
  .resume-output {
    border-style: solid;
    border-color: #eee;
    border-width: 1px;
    border-radius: 0px;
  }
  .resume-content {
    margin:20px 10px 20px 10px;

  }

</style>

<!-- Page Banner Area
============================================ -->
<div class="page-banner-area section overlay">
    <div class="container">
        <div class="row">
            <!--Page Banner-->
            <div class="page-banner text-center col-xs-12">
                <h2>json parser</h2>
                <!--Breadcrumb-->
                <ul class="breadcrumb">
                    <li><a href="index.html">home</a></li>
                    <li>projects</li>
                    <li>json parser</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- Parser Area
============================================ -->
<div id="pages" class="pages-area section bg-light pb-60 pt-100">
    <div class="container">

      <h3>Insert JSON data</h3>
      <!--Comment Form-->
      <div class="comment-form row">
          <%= simple_form_for :json_content, url: parse_json_projects_path, remote: true do |f| %>
            <div class="col-xs-12 mb-20">
              <%= f.input :content, as: :text, label: false %>
            </div>
            <div class="col-xs-12">
              <%= f.button :submit, "Parse" %>
            </div>
          <% end %>

      </div>
      <br />
      <div class="resume-output" style="display:none;">
        <div class="row resume-content">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-9">
                <h1>Tony Moey Seng Leong</h1>
                <h3>Senior Web Developer</h3>
              </div>
              <div class="col-md-3">
                <p>Email: moeyster@gmail.com</p>
                <p>Phone: +6012 - 618 5510</p>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="row resume-content">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <h3>Profile</h3>
              </div>
              <div class="col-md-9">
                <p>Progressively evolve cross-platform ideas before impactful infomediaries. Energistically visualize tactical initiatives before cross-media catalysts for change.</p>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="row resume-content">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <h3>Skills</h3>
              </div>
              <div class="col-md-3">
                <h4>Web Design</h4>
                <p>Assertively exploit wireless initiatives rather than synergistic core competencies.</p>
              </div>
              <div class="col-md-3">
                <h4>Interface Design</h4>
                <p>Credibly streamline mission-critical value with multifunctional functionalities.</p>
              </div>
              <div class="col-md-3">
                <h4>Project Direction</h4>
                <p>Proven ability to lead and manage a wide variety of design and development projects in team and independent situations.</p>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="row resume-content">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <h3>Technical</h3>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-3 col-xs-6">
                    <p>HTML</p>
                  </div>
                  <div class="col-md-3 col-xs-6">
                    <p>HTML</p>
                  </div>
                  <div class="col-md-3 col-xs-6">
                    <p>HTML</p>
                  </div>
                  <div class="col-md-3 col-xs-6">
                    <p>HTML</p>
                  </div>
                  <div class="col-md-3 col-xs-6">
                    <p>HTML</p>
                  </div>
                  <div class="col-md-3 col-xs-6">
                    <p>HTML</p>
                  </div>
                  <div class="col-md-3 col-xs-6">
                    <p>HTML</p>
                  </div>
                  <div class="col-md-3 col-xs-6">
                    <p>HTML</p>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="row resume-content">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <h3>Experience</h3>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-9">
                    <h4>Facebook</h4>
                    <h5>Senior Interface Designer</h5>
                  </div>
                  <div class="col-md-3" style="text-align: right;">
                    <strong>2005 - 2007</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p>Intrinsicly enable optimal core competencies through corporate relationships. Phosfluorescently implement worldwide vortals and client-focused imperatives. Conveniently initiate virtual paradigms and top-line convergence.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-9">
                    <h4>Facebook</h4>
                    <h5>Senior Interface Designer</h5>
                  </div>
                  <div class="col-md-3" style="text-align: right;">
                    <strong>2005 - 2007</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p>Intrinsicly enable optimal core competencies through corporate relationships. Phosfluorescently implement worldwide vortals and client-focused imperatives. Conveniently initiate virtual paradigms and top-line convergence.</p>
                  </div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="col-md-3">
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-9">
                    <h4>Facebook</h4>
                    <h5>Senior Interface Designer</h5>
                  </div>
                  <div class="col-md-3" style="text-align: right;">
                    <strong>2005 - 2007</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p>Intrinsicly enable optimal core competencies through corporate relationships. Phosfluorescently implement worldwide vortals and client-focused imperatives. Conveniently initiate virtual paradigms and top-line convergence.</p>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="row resume-content">
          <div class="col-md-12">
            <div class="row">
              <div class="col-md-3">
                <h3>Education</h3>
              </div>
              <div class="col-md-9">
                <div class="row">
                  <div class="col-md-9">
                    <h4>Facebook</h4>
                    <h5>Senior Interface Designer</h5>
                  </div>
                  <div class="col-md-3" style="text-align: right;">
                    <strong>2005 - 2007</strong>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-12">
                    <p>Intrinsicly enable optimal core competencies through corporate relationships. Phosfluorescently implement worldwide vortals and client-focused imperatives. Conveniently initiate virtual paradigms and top-line convergence.</p>
                  </div>
                </div>
              </div>
            </div>
            <hr />
          </div>
        </div>
        <div class="row resume-content">
          <div class="col-md-12">
            <p style="text-align: center;">Jonathan Doe — name@yourdomain.com — (313) - 867-5309</p>
          </div>
        </div>
      </div>
      <br />
    </div
</div>
