<!-- Footer Area
============================================ -->
<div id="footer" class="footer-area section overlay" style="background-image: url('img/section-bg/3.jpg');">
    <!--Contact Area-->
    <div id="contact" class="contact-area section pb-45 pt-100">
        <div class="container">

           <!--Section Title-->
            <div class="row">
                <div class="section-title white col-xs-12 text-center">
                    <h1>contact <span>me</span></h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">

                    <!--Contact Info-->
                    <div class="row">
                        <!--Single Contact Info-->
                        <div class="single-contact-info text-center col-sm-4 col-xs-12 mb-40">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p>+300-663-7120</p>
                            <p>+300-671-8121</p>
                        </div>
                        <!--Single Contact Info-->
                        <div class="single-contact-info text-center col-sm-4 col-xs-12 mb-40">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <p>johnatan@domain.com</p>
                            <p>john@domain.com</p>
                        </div>
                        <!--Single Contact Info-->
                        <div class="single-contact-info text-center col-sm-4 col-xs-12 mb-40">
                            <i class="fa fa-map-o" aria-hidden="true"></i>
                            <p>121 King Street Melboune VIC 3000, Australia</p>
                        </div>

                    </div>

                    <div class="row mt-30">
                        <!--Contact Form-->
                        <div class="contact-form">
                            <form action="#">
                                <div class="col-sm-6 col-xs-12">
                                    <input type="text" placeholder="Name">
                                    <input type="email" placeholder="Email">
                                    <input type="text" placeholder="Subject">
                                </div>
                                <div class="col-sm-6 col-xs-12">
                                    <textarea placeholder="Message"></textarea>
                                    <input type="submit" value="Submit">
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
    <!--Footer Bottom-->
    <div class="footer-bottom section pb-35 pt-35">
        <div class="container">

            <div class="row">

                <!--Social-->
                <div class="social text-center col-xs-12 mb-15">
                    <a href="#"><i class="fa fa-facebook"></i></a>
                    <a href="#"><i class="fa fa-twitter"></i></a>
                    <a href="#"><i class="fa fa-linkedin"></i></a>
                    <a href="#"><i class="fa fa-instagram"></i></a>
                    <a href="#"><i class="fa fa-pinterest"></i></a>
                </div>
                <!--Copyright-->
                <div class="footer-copyright text-center col-xs-12">
                    <p>Copyright &copy; 2017 <a href="https://themeforest.net/user/themeaone">ThemeAone</a>, All Right Reserved</p>
                </div>
            </div>

        </div>
    </div>
</div>
