<!-- Footer Area
============================================ -->
<div id="footer" class="footer-area section overlay" style="background-image: url('img/section-bg/3.jpg');">
    <!--Contact Area-->
    <div id="contact" class="contact-area section pb-45 pt-100">
        <div class="container">

           <!--Section Title-->
            <div class="row">
                <div class="section-title white col-xs-12 text-center">
                    <h1>contact <span>me</span></h1>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1 col-xs-12">

                    <!--Contact Info-->
                    <div class="row">
                        <!--Single Contact Info-->
                        <div class="single-contact-info text-center col-sm-3 col-xs-12 mb-40">
                            <i class="fa fa-phone" aria-hidden="true"></i>
                            <p>+6012 - 618 5510</p>
                        </div>
                        <!--Single Contact Info-->
                        <div class="single-contact-info text-center col-sm-3 col-xs-12 mb-40">
                            <i class="fa fa-envelope-o" aria-hidden="true"></i>
                            <p>moeyster@gmail.com</p>
                        </div>
                        <!--Single Contact Info-->
                        <div class="single-contact-info text-center col-sm-3 col-xs-12 mb-40">
                            <i class="fa fa-skype" aria-hidden="true"></i>
                            <p>moey.tony</p>
                        </div>
                        <!--Single Contact Info-->
                        <div class="single-contact-info text-center col-sm-3 col-xs-12 mb-40">
                            <i class="fa fa-map-o" aria-hidden="true"></i>
                            <p>Subang Jaya, Selangor, Malaysia</p>
                        </div>

                    </div>



                </div>
            </div>

        </div>
    </div>
    <!--Footer Bottom-->
    <div class="footer-bottom section pb-35 pt-35">
        <div class="container">

            <div class="row">

                <!--Social-->
                <div class="social text-center col-xs-12 mb-15">
                    <a href="https://www.facebook.com/moeyster"><i class="fa fa-facebook"></i></a>
                    <a href="https://twitter.com/moeyster"><i class="fa fa-twitter"></i></a>
                    <a href="https://www.linkedin.com/in/tony-moey-96729883/"><i class="fa fa-linkedin"></i></a>
                    <a href="https://www.instagram.com/tonymoey/"><i class="fa fa-instagram"></i></a>
                    <a href="https://www.pinterest.com/moeyster/"><i class="fa fa-pinterest"></i></a>
                    <a href="https://plus.google.com/108170705806383735433"><i class="fa fa-google-plus"></i></a>
                    <a href="https://github.com/moeyster"><i class="fa fa-github"></i></a>
                </div>
                <!--Copyright-->
                <div class="footer-copyright text-center col-xs-12">
                    <p>Copyright &copy; 2017 <%= link_to "TonyMoey.com", root_path %>, All Right Reserved</p>
                </div>
            </div>

        </div>
    </div>
</div>
